replicaCount: 2
name: flaskapp
image:
  repository: ""
  tag: ""
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 8080

resources: {}
nodeSelector: {}
tolerations: []
affinity: {}

containerPort: 8080

ingress:
  enabled: true
  host: "app.example.com"
  tls: true
  tlsSecretName: "demo-app-tls"  